{{/* Template for the digital store tab */}}

{{define "digital-store"}}
  {{template "download" (dict "DownloadTab" "digital-store")}}
{{end}}

{{define "download-content-digital-store"}}
<section id="release-selection">
  <p>Digital store versions do not include .NET/C# support, except for Itch.io.</p>
  <section id="digital-stores">
    {{template "digital-store-buttons"}}
  </section>
</section>
{{end}}