{{/* Template for the package manager tab */}}

{{define "package-manager"}}
{{template "download" (dict "DownloadTab" "package-manager")}}
{{end}}

{{define "download-content-package-manager"}}
<section id="release-selection">
  <div>
    Install Blazium
    {{template "dropdown" (dict "Name" "version")}}
    {{template "dropdown" (dict "Name" "buildType")}}
    on
    {{template "dropdown" (dict "Name" "os")}}
    <br>
    {{template "dropdown" (dict "Name" "csharp")}}
    C# support using
    {{template "dropdown" (dict "Name" "pkgmngr")}}.
  </div>
  <pre id="download-cmd" class="lang-none command-line" data-prompt="$"><code></code></pre>
  <a id="changelog-btn" class="secondary-btn"><i class="align fa-solid fa-arrow-right"></i>Read the changelog on GitHub</a>
</section>
{{end}}