{{/* Template for the prebuilt binaries tab */}}

{{define "prebuilt-binaries"}}
{{template "download" (dict "DownloadTab" "prebuilt-binaries")}}
{{end}}

{{define "download-content-prebuilt-binaries"}}
<section id="release-selection">
  <div>
    I want Blazium
    {{template "dropdown" (dict "Name" "buildType")}}
    {{template "dropdown" (dict "Name" "version")}}
    <br>for
    {{template "dropdown" (dict "Name" "os")}}
    <div id="no-android">
      <div id="no-macos">
        {{template "dropdown" (dict "Name" "arch")}}
      </div>
      {{template "dropdown" (dict "Name" "csharp")}}
      C# support
    </div>
    .
  </div>
  <a id="download-btn" class="primary-btn"><i class="align fa-solid fa-download"></i>Download Blazium <span></span></a>
  <a id="changelog-btn" class="secondary-btn"><i class="align fa-solid fa-arrow-right"></i>Read the changelog</a>
  <a class="secondary-btn" href="https://docs.blazium.app/about/system_requirements.html" target="_blank">
    <i class="align fa-solid fa-computer"></i>System requirements
  </a>
</section>
{{end}}