{{/* Template for the prebuilt binaries tab */}}

{{define "prebuilt-binaries"}}
{{template "download" (dict "DownloadTab" "prebuilt-binaries")}}
{{end}}

{{define "download-content-prebuilt-binaries"}}
<section id="release-selection">
  <div>
    I want the
    {{template "dropdown" (dict "Name" "version")}}
    {{template "dropdown" (dict "Name" "branch")}}
    release of Blazium for
    {{template "dropdown" (dict "Name" "os")}}
    <br>
    running
    {{template "dropdown" (dict "Name" "arch")}}
    {{template "dropdown" (dict "Name" "csharp")}}
    C# support.
  </div>
  <a id="download-btn" class="primary-btn"><i class="fa-solid fa-download"></i> Download Blazium <span></span></a>
  <a class="secondary-btn"><i class="fa-solid fa-arrow-right"></i> Read the blog post for this version</a>
</section>
{{end}}