{{/* Template for the torrent tab */}}

{{define "torrent"}}
{{template "download" (dict "DownloadTab" "torrent")}}
{{end}}

{{define "download-content-torrent"}}
<section id="release-selection">
  <div>
    I want the
    {{template "dropdown" (dict "Name" "version")}}
    {{template "dropdown" (dict "Name" "buildType")}}
    release of Blazium<br>for
    {{template "dropdown" (dict "Name" "os")}}
    <div id="no-android">
      <div id="no-macos">
        {{template "dropdown" (dict "Name" "arch")}}
      </div>
      {{template "dropdown" (dict "Name" "csharp")}}
      C# support
    </div>
    .
  </div>
  <a id="download-btn" class="primary-btn"><i class="align fa-solid fa-download"></i>Get Blazium <span></span> Torrent</a>
  <a id="changelog-btn" class="secondary-btn"><i class="align fa-solid fa-arrow-right"></i>Read the changelog on GitHub</a>
</section>
{{end}}