{{/* Template for the blog article page */}}

{{define "blog_article"}}
  {{template "main-head" .MetaTags}}
  <section id="blog-intro">
    <img src={{.MetaTags.Image}} alt="Cover image">
    <section>
      <h1>{{.ArticleData.Title}}</h1>
      {{if .ArticleData.Published}}
        <p>{{.ArticleData.Published}}</p>
      {{end}}
    </section>
  </section>
  <section id="blog-article">
  {{toHTML .ArticleData.Image}}
  {{if .ArticleData.Link}}
    <a class="secondary-btn indiedb" href={{.ArticleData.Link}} title="Indie Games Database" target="_blank">
      Article hosted on IndieDB
      <img src="https://media.indiedb.com/images/global/indiedb.png" class="indiedb" alt="Indie DB" style="height: 0.9em;">
    </a>
  {{end}}
  </section>
  {{template "main-foot"}}
{{end}}