{{/* Template for the blog article page */}}

{{define "blog_article"}}
  {{template "main-head" (dict
    "Title" .Title
    "Description" .Description
    "Url" .Url
    "Image" .Image
  )}}
  <section id="blog-intro">
    <img src={{.Image}} alt="Cover image">
    <section>
      <h1>{{.Title}}</h1>
      {{if .Published}}
        <p>{{.Published}}</p>
      {{end}}
    </section>
  </section>
  <section id="blog-article">
  {{toHTML .Content}}
  {{if .Link}}
    <a class="secondary-btn indiedb" href={{.Link}} title="Indie Games Database" target="_blank">
      Article hosted on IndieDB
      <img src="https://media.indiedb.com/images/global/indiedb.png" class="indiedb" alt="Indie DB" style="height: 0.9em;">
    </a>
  {{end}}
  </section>
  {{template "main-foot"}}
{{end}}