{{/* Template for the showcase page */}}

{{define "blog_article"}}
  {{template "main-head" .}}
  {{template "content-blog-article" .}}
  {{template "main-foot" .}}
{{end}}

{{define "content-blog-article"}}
  <section id="blog-intro">
    <img src={{.Image}} alt="Blog cover image">
    <section>
      <h1>{{.Title}}</h1>
      <p><i class="fa-solid fa-user"></i> {{.Author}} - {{.Date}} - {{.Category}}</p>
    </section>
  </section>
  <section id="blog-article">
  {{toHTML .Content}}
  </section>
{{end}}