{{/* Template for the blog articles */}}

{{define "blog-articles"}}
  {{if eq .Articles.Pages 0}}
    <p>
      No results found.
    </p>
  {{else}}
    <section id="blogs" class="card-grid-container">
    {{range $blog := .Articles.Blogs}}
      <div class="card" hx-get="/blog/article/{{$blog.id}}" hx-target="body" hx-push-url="true">
        <img src={{$blog.image}}>
        <section>
          <p><i class="fa-solid fa-user"></i> {{$blog.author}} - {{$blog.date}}</p>
          <h4>{{$blog.title}}</h4>
        </section>
      </div>
    {{end}}
    </section>
    {{template "page-selector" (dict "Page" .CurrentPage "Max" .Articles.Pages "Url" "/blog")}}
  {{end}}
{{end}}


{{/* Template for the blog page */}}

{{define "blog"}}
  {{template "main-head" .}}
  {{template "content-blog" .}}
  {{template "main-foot" .}}
{{end}}

{{define "content-blog"}}
  <section id="blog-head" class="flex-between-center head-section">
    <h1>Blazium blog</h1>
    <a class="secondary-btn"><i class="fa-solid fa-square-rss"></i> RSS feed</a>
  </section>
  <section class="flex-between-center">
    <input type="search" id="blog-search" placeholder="Search articles" class="secondary-btn">
    <fieldset class="filters">
      <label>
        <input type="radio" name="blog-category" value="all" checked>
        All
      </label>
      <label>
        <input type="radio" name="blog-category" value="news">
        News
      </label>
      <label>
        <input type="radio" name="blog-category" value="release">
        Release
      </label>
      <label>
        <input type="radio" name="blog-category" value="pre-release">
        Pre-Release
      </label>
      <label>
        <input type="radio" name="blog-category" value="events">
        Events
      </label>
      <label>
        <input type="radio" name="blog-category" value="devlog">
        Devlog
      </label>
    </fieldset>
  </section>
  {{template "blog-articles" .}}
{{end}}