{{/* Template for the dev tools page */}}

{{define "dev_tools"}}
  {{template "main-head" (dict
    "Title" "Blazium Engine - Developer tools"
    "Description" "Utilities, services, and tools created by the Blazium Team to support developers on their journey"
    "Url" "/dev-tools"
  )}}
  <section class="head-section">
    <h1>Developer tools</h1>
    <p>
      Utilities, services, and tools created by the Blazium Team to support developers on their journey.
    </p>
  </section>
  <section id="devtools" class="card-grid-container fill">
    {{template "dev-tools-cards"}}
  </section>
  {{template "main-foot"}}
{{end}}
