{{/* Template for the download page */}}

{{define "download"}}
  {{template "main-head" (dict
    "Title" "Blazium Engine - Download Blazium the way you want"
    "Description" "Get the version you need the way you want"
    "Url" "/download"
  )}}
  {{template "content-download" .}}
  {{template "main-foot"}}
{{end}}

{{define "content-download"}}
  <h1>Download Blazium the way you want.</h1>
  <section id="download">
    <span id="download-type">
      <a {{if eq .DownloadTab "prebuilt-binaries" }}class="select" {{end}} href="/download/prebuilt-binaries">
        <i class="fa-solid fa-file-zipper"></i>Prebuilt Binaries</a>
      <a {{if eq .DownloadTab "digital-store" }}class="select" {{end}} href="/download/digital-store">
        <i class="fa-solid fa-shop"></i>Digital Store</a>
<!--       
      <a {{if eq .DownloadTab "package-manager" }}class="select" {{end}} href="/download/package-manager">
        <i class="fa-solid fa-boxes-packing"></i>Package Manager</a>
      <a {{if eq .DownloadTab "torrent" }}class="select" {{end}} href="/download/torrent">
        <i class="fa-solid fa-download"></i>Torrent</a>
      -->
    </span>
    <section id="download-options">
      {{if eq .DownloadTab "prebuilt-binaries"}}
        {{template "download-content-prebuilt-binaries" .}}
        {{template "export-templates"}}
      {{else if eq .DownloadTab "digital-store"}}
        {{template "download-content-digital-store" .}}
      {{else if eq .DownloadTab "package-manager"}}
        {{template "download-content-package-manager" .}}
        {{template "export-templates"}}
      {{else if eq .DownloadTab "torrent"}}
        {{template "download-content-torrent" .}}
        {{template "export-templates"}}
      {{end}}
      <div id="extra">
        <a class="primary-btn" href="/dev-tools/download">Looking for Tools Download <i class="fa-solid fa-question"></i></a>
      </div>
    </section>
  </section>
{{end}}


{{/* Template for the export templates */}}

{{define "export-templates"}}
  <section id="export-templates">
    <h3>Export templates</h3>
    <p>Used to export your games to all supported platforms.</p>
    <div>
      <a id="templates" class="secondary-btn"><i class="align fa-solid fa-download"></i>Download for <span></span></a>
      <a id="templates-mono" class="secondary-btn"><i class="align fa-solid fa-download"></i>Download for <span></span></a>
    </div>
  </section>
{{end}}