{{/* Template for the featrues page */}}

{{define "features"}}
  {{template "main-head" (dict
    "Title" "Blazium Engine - Features"
    "Description" "Learn about the features present in Blazium."
    "Url" "/features"
  )}}
  <section class="head-section">
    <h1>Features</h1>
    <p>
    Blazium, as a fork of Godot, includes all of its features. This page
    focuses on highlighting the unique features that set Blazium apart.<br>
    For a complete list of features, refer to the
    <a href="https://docs.blazium.app/about/list_of_features.html">documentation</a>
    .</p>
  </section>
  <h3>Our additions</h3>
  <section id="features-blazium-sdk" class="card-grid-container">
    {{template "features-cards-blazium-sdk"}}
  </section>
  <section id="features-modules" class="card-grid-container">
    {{template "features-cards-modules"}}
  </section>
  <h3>Compatible with Godot 4.3 projects</h3>
  <section id="features-godot44" class="card-grid-container">
    {{template "features-cards-godot44"}}
  </section>
  <a id="features-list-button" class="primary-btn" href="https://docs.blazium.app/about/list_of_features.html">View the full list of features</a>
  {{template "main-foot"}}
{{end}}
