{{/* Template for the games page */}}

{{define "games"}}
  {{template "main-head" (dict
    "Title" "Blazium Engine - Blazium Games"
    "Description" "Games made with the Blazium Engine"
    "Url" "/games"
  )}}
  <section class="head-section">
    <h1>Blazium Games</h1>
    <p>Games made with the Blazium Engine.</p>
  </section>
  <section id="games" class="card-grid-container fill">
    {{template "games-cards"}}
  </section>
  {{template "main-foot"}}
{{end}}