{{/* Template for the home page */}}

{{define "home"}}
  {{template "main-head"}}
  {{template "content-home" .}}
  {{template "main-foot"}}
{{end}}

{{define "content-home"}}
  {{- /* Intro Section */}}
  <section id="above-fold">
    <div id="intro-text">
      <h1>Community-driven,<br>powerful, and flexible.</h1>
      <p>Develop your 2D & 3D games, cross-platform projects,<br>and XR experiences—all in one place.</p>
      <a href="/download" class="primary-btn"><i class="fa-solid fa-arrow-right"></i> Get Blazium</a>
    </div>
    <div id="preview">
      <video src="/static/assets/Blazium_Loop.webm" autoplay muted loop disablepictureinpicture></video>
    </div>
  </section>

  <section id="features-section" class="card-grid-container">
    {{template "release-card"}}
    <div id="second" class="card">
      <img src="/static/assets/homepage/pattern.webp" alt="What is blazium image">
      <section>
        <h3>What is Blazium?</h3>
        <p>
          A game engine for 2D and 3D, Free and Open-Source, easy to use, there is more but not enough space here.
        </p>
        <a class="secondary-btn" href="/what-is-blazium">
          <i class="align fa-solid fa-arrow-right"></i>Know more about Blazium</a>
      </section>
    </div>
    <div id="third" class="card">
      <img src="/static/assets/homepage/2d3d.webp" alt="Blazium Games image">
      <section>
        <h3>Games made with Blazium</h3>
        <p>
          Both the Blazium Team and the community love making games, so we have made a list to highlight them all.
        </p>
        <a class="secondary-btn" href="/games">
          <i class="align fa-solid fa-arrow-right"></i>List of games</a>
      </section>
    </div>
    <div id="fourth" class="card">
      <img src="/static/assets/homepage/code.webp" alt="Dev tools image">
      <section>
        <h3>Tools, Templates and Services</h3>
        <p>
          We have created various tools, templates and services to support developers on their journey
        </p>
        <a class="secondary-btn" href="/dev-tools">
          <i class="align fa-solid fa-arrow-right"></i>See the Developer Tools</a>
      </section>
    </div>
  </section>

  <section id="contribute">
    <h2>Get Involved</h2>
    <section class="card-grid-container fill">
      <div class="card">
        <img src="/static/assets/homepage/help.webp" alt="Document">
        <section>
          <h3>Help Blazium</h3>
          <p>Report Bugs, contribute Code or improve the documentation.</p>
          <a class="secondary-btn" href="{{template "link-docs"}}/contributing/how_to_contribute.html">
            <i class="align fa-solid fa-arrow-right"></i>More on how to contribute</a>
        </section>
      </div>
      <div class="card">
        <img src="/static/assets/homepage/blocks.webp" alt="Report">
        <section>
          <h3>Resources</h3>
          <p>Development Resources, Tutorials and other things to help you learn.</p>
          <a class="secondary-btn" href="{{template "link-docs"}}/community/tutorials.html">
            <i class="align fa-solid fa-arrow-right"></i>Go to Resources page</a>
        </section>
      </div>
      <div class="card">
        <img src="/static/assets/homepage/discord.webp" alt="Discord">
        <section>
          <h3>Join the Community</h3>
          <p>A place for the Blazium community to meet, ask questions, share their work, and provide help to other users.</p>
          <a class="secondary-btn" href="{{template "link-discord"}}">
            <i class="align fa-solid fa-arrow-right"></i>Join the Discord server</a>
        </section>
      </div>
    </section>
  </section>
{{end}}