{{/* Template for the home page */}}

{{define "home"}}
  {{template "main-head" .}}
  {{template "content-home" .}}
  {{template "main-foot" .}}
{{end}}

{{define "content-home"}}
  {{- /* Intro Section */}}
  <section id="above-fold">
    <div id="intro-text">
      <h1>Community-driven,<br>powerful, and flexible.</h1>
      <p>Develop your 2D & 3D games, cross-platform projects,<br>and XR experiences—all in one place.</p>
      <a href="/download" class="primary-btn"><i class="fa-solid fa-arrow-right"></i> Get Blazium</a>
    </div>
    <div id="preview">
      <video src="/static/assets/Blazium_Loop.webm" autoplay muted loop disablepictureinpicture playsinline></video>
    </div>
  </section>

  {{- /* Features Section */}}
  <section id="features-section">
    <h2>Features</h2>
    <section class="card-grid-container">
      <div id="feature-2d3d" class="card">
        <img src="/static/assets/features/2d3d.webp" alt="Dedicated 3D and 2D engines">
        <section>
          <h3>Dedicated 3D and 2D engines</h3>
          <p>Create crisp 2D games with Blazium’s pixel-perfect 2D engine, or build, animate, and render
            immersive 3D worlds with powerful 3D nodes.</p>
          <a class="secondary-btn" href="https://docs.blazium.app/about/list_of_features.html#rendering" target="_blank">
            <i class="fa-solid fa-arrow-right"></i> List of features</a>
        </section>
      </div>
      <div id="feature-build" class="card">
        <img src="/static/assets/features/blocks.webp" alt="Build with blocks">
        <section>
          <h3>Build with blocks</h3>
          <p>Blazium's Node and Scene system gives you both power and flexibility
            to create anything.</p>
          <a class="secondary-btn" href="https://docs.blazium.app/about/list_of_features.html" target="_blank">
            <i class="fa-solid fa-arrow-right"></i> List of features</a>
        </section>
      </div>
      <div id="feature-export" class="card">
        <img src="/static/assets/features/export.webp" alt="Export to everything">
        <section>
          <h3>Export to everything</h3>
          <p>Deploy your game seamlessly across desktop, mobile and web.</p>
          <a class="secondary-btn" href="https://docs.blazium.app/about/list_of_features.html#platforms" target="_blank">
            <i class="fa-solid fa-arrow-right"></i> List of features</a>
        </section>
      </div>
      <div id="feature-lang" class="card">
        <img src="/static/assets/features/code.webp" alt="With your favorite language">
        <section>
          <h3>With your favorite language</h3>
          <p>Keep your code modular with an object-oriented API using Blazium's own
            GDScript, C#, C++, or bring your own using GDExtension.</p>
          <a class="secondary-btn" href="https://docs.blazium.app/about/list_of_features.html#scripting" target="_blank">
            <i class="fa-solid fa-arrow-right"></i> List of features</a>
        </section>
      </div>
    </section>
  </section>

  {{- /* Contribute Section */}}
  <section id="contribute">
    <h2>Get Involved</h2>
    <section class="card-grid-container">
      <div class="card">
        <img src="/static/assets/contribute/blazia.webp" alt="Code">
        <section>
          <h3>Code</h3>
          <p>Help by fixing bugs and working with engine contributors towards the
            implementation of new features.</p>
          <a class="secondary-btn"
            href="https://docs.blazium.app/contributing/how_to_contribute.html" target="_blank"><i
              class="fa-solid fa-arrow-right"></i> More on how to contribute</a>
        </section>
      </div>
      <div class="card">
        <img src="/static/assets/contribute/blazia.webp" alt="Document">
        <section>
          <h3>Document</h3>
          <p>Improve documentation by updating the API reference, writing guides, or submitting corrections.</p>
          <a class="secondary-btn" href="https://docs.blazium.app/contributing/how_to_contribute.html"
            target="_blank"><i class="fa-solid fa-arrow-right"></i> More on how to contribute</a>
        </section>
      </div>
      <div class="card">
        <img src="/static/assets/contribute/blazia.webp" alt="Report">
        <section>
          <h3>Report</h3>
          <p>Report engine issues to help developers improve Blazium for everyone.</p>
          <a class="secondary-btn"
            href="https://docs.blazium.app/contributing/how_to_contribute.html" target="_blank"><i
              class="fa-solid fa-arrow-right"></i> More on how to contribute</a>
        </section>
      </div>
      <div class="card">
        <img src="/static/assets/contribute/blazia.webp" alt="Discord">
        <section>
          <h3>Discord</h3>
          <p>A place for the Blazium community to meet, ask questions, share their work, and provide help to other
            users.</p>
          <a class="secondary-btn" href="https://chat.blazium.app" target="_blank">
            <i class="fa-solid fa-arrow-right"></i> Join</a>
        </section>
      </div>
    </section>
  </section>
{{end}}