{{/* Template for markdown articles */}}

{{define "md_article"}}
  {{template "main-head" .MetaTags}}
  <section class="article md">
    {{toHTML .Content}}
  </section>
  {{template "main-foot"}}
{{end}}