{{/* Template for the privacy policy page */}}

{{define "privacy_policy"}}
  {{template "main-head" (dict
    "Title" "Privacy policy"
    "Description" "Blazium website's privacy policy"
    "Url" "/privacy-policy"
  )}}
  <section id="blog-article" class="md">
    {{toHTML .}}
  </section>
  {{template "main-foot"}}
{{end}}