{{/* Template for the road maps page */}}

{{define "road_maps"}}
  {{template "main-head" (dict
    "Title" "Road Maps"
    "Description" "Our goal is to provide a clear vision for the future of Blazium for the community to debate, decide, and shape"
    "Url" "/road-maps"
  )}}
  <section class="head-section">
    <h1>Road Maps</h1>
    <p>
      Our goal is to provide a clear vision for the future of Blazium
      for the community to debate, decide, and shape.
    </p>
  </section>
  <section id="roadmaps" class="card-grid-container">
    {{template "road-maps-cards"}}
  </section>
  <section id="road-maps-embeds">
    {{template "road-maps-embeds"}}
  </section>
  {{template "main-foot"}}
{{end}}