{{/* Template for the road maps page */}}

{{define "roadmaps"}}
  {{template "main-head" (dict
    "Title" "Blazium Engine - Roadmaps"
    "Description" "Our goal is to provide a clear vision for the future of Blazium for the community to debate, decide, and shape"
    "Url" "/roadmaps"
  )}}
  <section class="head-section">
    <h1>Roadmaps</h1>
    <p>
      Our goal is to provide a clear vision for the future of Blazium
      for the community to debate, decide, and shape.
    </p>
  </section>
  <section id="roadmaps" class="card-grid-container">
    {{template "roadmaps-cards"}}
  </section>
  <section id="roadmaps-embeds">
    {{template "roadmaps-embeds"}}
  </section>
  {{template "main-foot"}}
{{end}}