{{/* Template for the road maps page */}}

{{define "road_maps"}}
  {{template "main-head" .}}
  {{template "content-roadmaps" .}}
  {{template "main-foot" .}}
{{end}}

{{define "content-roadmaps"}}
  <section class="head-section">
    <h1>Road Maps</h1>
    <p>
      The goal is simple: provide a clear vision for the future of Blazium for the community to debate, decide, and
      shape.<br>
      We value transparency—if you know what we're doing, we'll understand what you want.<br>
      That's what being a community is all about.
    </p>
  </section>
  <section id="roadmaps" class="card-grid-container">
    {{template "road-maps-cards"}}
  </section>
  <section class="head-section">
    <h2>Miro Board</h2>
    <p>Roadmap for projects and initiatives, offering a high-level overview of our plans and priorities.</p>
    <iframe width="100%" loading="lazy" title="Miro Board"
      src="https://miro.com/app/live-embed/uXjVLEUcd18=/?moveToViewport=-1590,-372,1874,897&embedId=961354307452"
      frameborder="0" scrolling="no" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>
  </section>
  <section class="head-section">
    <h2>Development Timeline</h2>
    <p>This timeline provides a comprehensive overview of key milestones, breakthroughs, and events in the development of the Blazium Engine.</p>
    <iframe width="100%" loading="lazy" title="Development Timeline"
      src="https://time.graphics/embed?v=1&id=955884"
      frameborder="0" scrolling="no" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>
  </section>
{{end}}