{{/* Template for the road maps page */}}

{{define "road_maps"}}
  {{template "main-head" .}}
  {{template "content-roadmaps" .}}
  {{template "main-foot" .}}
{{end}}

{{define "content-roadmaps"}}
  <section class="head-section">
    <h1>Road Maps</h1>
    <p>
      The goal is simple: provide a clear vision for the future of Blazium for the community to debate, decide, and
      shape.<br>
      We value transparency—if you know what we're doing, we'll understand what you want.<br>
      That's what being a community is all about.
    </p>
  </section>
  <section id="roadmaps" class="card-grid-container">
    {{template "road-maps-cards"}}
  </section>
  {{template "road-maps-embeds"}}
{{end}}