{{/* Template for the snippets page */}}

{{define "snippets"}}
  {{template "main-head" .}}
  {{template "content-snippets" .}}
  {{template "main-foot" .}}
{{end}}

{{define "content-snippets"}}
  <section class="head-section">
    <h1>Community Snippets</h1>
    <p>Collection of user submitted GDScript code snippets.</p>
  </section>
  <section id="snippets">
    <div id="snippets-articles">
      <section class="flex-between-center">
        <input type="search" id="blog-search" placeholder="Search snippets" class="secondary-btn">
        <fieldset class="filters">
          <label>
            <input type="radio" name="snippet-order" value="newest" checked>
            Newest
          </label>
          <label>
            <input type="radio" name="snippet-order" value="oldest">
            Oldest
          </label>
          <label>
            <input type="radio" name="snippet-order" value="most-liked">
            Most liked
          </label>
          <label>
            <input type="radio" name="snippet-order" value="least-liked">
            Least liked
          </label>
        </fieldset>
      </section>
      {{range (seq 8)}}
        <div class="snippet-card" hx-get="/snippets/article" hx-target="body" hx-push-url="true">
          <img src="/static/assets/embed_img.webp">
          <section>
            <h3>Script to delete System32</h3>
            <p><i class="fa-solid fa-user"></i> John Smith - 1 January 1970 • 123 <i class="fa-solid fa-thumbs-up"></i> • 34 <i
                class="fa-solid fa-thumbs-down"></i> • 321 <i class="fa-solid fa-comments"></i> • 420 <i
                class="fa-solid fa-download"></i></p>
            <p>This is a tiny, little, snippet of code to make your game run faster by deleting an evil Microsoft spyware called
              System32.</p>
          </section>
        </div>
      {{end}}
      {{template "page-selector" (dict "Page" 1 "Max" 8 "Url" "/snippets")}}
    </div>
    <aside>
      <button class="primary-btn">
        <i class="fa-solid fa-plus"></i> Add a snippet
      </button>
      <section>
        <h4>Most liked</h4>
        <ul>
          {{range (seq 5)}}
            <li>
              <button class="secondary-btn">Snippet to delete System32<br>123 <i class="fa-solid fa-thumbs-up"></i></button>
            </li>
          {{end}}
        </ul>
      </section>
      <section>
        <h4>Most downloaded</h4>
        <ul>
          {{range (seq 5)}}
            <li>
              <button class="secondary-btn">Snippet to delete System32<br>420 <i class="fa-solid fa-download"></i></button>
            </li>
          {{end}}
        </ul>
      </section>
    </aside>
  </section>
{{end}}