{{/* Template for the terms of service page */}}

{{define "terms_of_service"}}
  {{template "main-head" (dict
    "Title" "Terms of service"
    "Description" "Blazium website's terms of service"
    "Url" "/terms-of-service"
  )}}
  <section id="blog-article" class="md">
    {{toHTML .}}
  </section>
  {{template "main-foot"}}
{{end}}