{{/* Base website file templates */}}
{{/*
  This file contains the templates with the elements common to all pages:
    - main-head
    - main-foot
    - header
    - footer
*/}}


{{/* Document head template */}}
{{/* Use this template before the page content template */}}

{{define "main-head"}}
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- /* The value is the same as --primary-color */}}
    <meta name="theme-color" content="hsl(281, 62%, 12%)">
  
    {{template "meta_tags"}}
  
    {{- /* Import Font Awesome */}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{- /* Import Google Fonts */}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
  
    {{- /* Import CSS */}}
    <link rel="stylesheet" href="/static/css/prism.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/prism-theme.css" />
  
    {{- /* Import JS */}}
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  
  <body hx-boost="true">
    {{template "header" .}}
    <main>
{{end}}


{{/* Document foot template */}}
{{/* Use this template after the page content template */}}

{{define "main-foot"}}
  </main>
  {{template "footer" .}}
  </body>
  
  </html>
{{end}}


{{/* Template for the website header */}}

{{define "header"}}
  <header class="no-drag">
    <nav>
      <a title="Home" class="logo" href="/">
        <img class="no-drag no-select" src="/static/assets/logo.svg" alt="Blazium Logo">
        <h1>Blazium</h1>
      </a>
      <a class="hideOnMobile" title="Download Blazium" href="/download"><i class="fa-solid fa-download"></i>Download</a>
      <!-- <a title="Made with Blazium" href="/showcase"><i class="fa-solid fa-star"></i>Showcase</a> -->
      <!-- <a class="hideOnMobile" title="Blazium blog" href="/blog"><i class="fa-solid fa-newspaper"></i>Blog</a> -->
      <!-- <a class="hideOnMobile" title="Community snippets" href="/snippets"><i class="fa-solid fa-code"></i>Snippets</a> -->
      <a class="hideOnMobile" title="Road maps" href="/road-maps"><i class="fa-solid fa-map-location-dot"></i>Road Maps</a>
      <a class="hideOnMobile" title="Developer tools" href="/dev-tools"><i class="fa-solid fa-screwdriver-wrench"></i>Dev Tools</a>
      <a class="hideOnMobile" title="Documentation" href={{template "link-docs"}}><i class="fa-solid fa-book"></i>Docs</a>
      <!-- <a class="hideOnMobile" title="Blazium Arcade" href={{template "link-arcade"}}><i class="fa-solid fa-gamepad"></i>Arcade</a> -->
      <span class="no-select hideOnMobile">
        <a title="Discord / Community" href={{template "link-discord"}}><i class="fab fa-discord"></i></a>
        <a title="Twitter / X" href={{template "link-twitter"}}><i class="fab fa-x-twitter"></i></a>
        <a title="Blazium GitHub" href={{template "link-blazium-git"}}><i
            class="fab fa-github"></i></a>
      </span>
      <button class="ham-menu-btn" ontouchstart="showHamMenu()" aria-label="Open menu"><i class="fa-solid fa-bars"></i></button>
    </nav>
    {{/* mobile phones menu */}}
    <nav id="hamburger-nav">
      <div>
        <a title="Home" class="logo" href="/">
          <img class="no-drag no-select" src="/static/assets/logo.svg" alt="Blazium Logo">
          <h1>Blazium</h1>
        </a>
        <button class="ham-menu-btn" ontouchstart="hideHamMenu()" aria-label="Close menu"><i class="fa-solid fa-x"></i></button>
      </div>
      <a title="Download Blazium" href="/download"><i class="fa-solid fa-download"></i>Download</a>
      <!-- <a title="Made with Blazium" href="/showcase"><i class="fa-solid fa-star"></i>Showcase</a> -->
      <!-- <a title="Blazium blog" href="/blog"><i class="fa-solid fa-newspaper"></i>Blog</a> -->
      <!-- <a title="Community snippets" href="/snippets"><i class="fa-solid fa-code"></i>Snippets</a> -->
      <a title="Road maps" href="/road-maps"><i class="fa-solid fa-map-location-dot"></i>Road Maps</a>
      <a title="Developer tools" href="/dev-tools"><i class="fa-solid fa-screwdriver-wrench"></i>Developer Tools</a>
      <a title="Documentation" href={{template "link-docs"}}><i class="fa-solid fa-book"></i>Documentation</a>
      <!-- <a title="Blazium Arcade" href={{template "link-arcade"}}><i class="fa-solid fa-gamepad"></i>Arcade</a> -->
      <span class="no-select">
        <a title="Discord / Community" href={{template "link-discord"}}><i class="fab fa-discord"></i></a>
        <a title="Twitter / X" href={{template "link-twitter"}}><i class="fab fa-x-twitter"></i></a>
        <a title="Blazium GitHub" href={{template "link-blazium-git"}}><i class="fab fa-github"></i></a>
      </span>
    </nav>
  </header>
{{end}}


{{/* Template for the website footer */}}

{{define "footer"}}
  <footer class="no-drag">
    <nav>
      <ul>
        <li>
          <a title="Home" class="logo" href="/">
            <img class="no-drag no-select" src="/static/assets/logo.svg" alt="Blazium Logo">
            <h1>Blazium</h1>
          </a>
        </li>
        <li>
          <a title="Website source code" href={{template "link-website-git" }}>
            Website source code
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a title="Download Blazium" href="/download"><i class="fa-solid fa-download"></i>Download</a>
        </li>
        <!-- <li>
          <a title="Blazium blog" href="/blog"><i class="fa-solid fa-newspaper"></i>Blog</a>
        </li> -->
        <!-- <li>
          <a title="Made with Blazium" href="/showcase"><i class="fa-solid fa-star"></i>Showcase</a>
        </li> -->
        <li>
          <a title="Documentation" href={{template "link-docs" }}><i class="fa-solid fa-book"></i>Documentation</a>
        </li>
      </ul>
      <ul>
        <li>
          <a title="Road maps" href="/road-maps"><i class="fa-solid fa-map-location-dot"></i>Road Maps</a>
        </li>
        <!-- <li>
          <a title="Community snippets" href="/snippets"><i class="fa-solid fa-code"></i>Snippets</a>
        </li> -->
        <li>
          <a title="Developer tools" href="/dev-tools"><i class="fa-solid fa-screwdriver-wrench"></i>Developer Tools</a>
        </li>
      </ul>
      <ul>
        <!-- <li>
          <a title="Blazium Arcade" href={{template "link-arcade" }}><i class="fa-solid fa-gamepad"></i>Arcade</a>
        </li> -->
        <li>
          <a title="Discord / Community" href={{template "link-discord" }}><i class="fab fa-discord"></i>Discord</a>
        </li>
        <li>
          <a title="Twitter / X" href={{template "link-twitter" }}><i class="fab fa-x-twitter"></i>Twitter</a>
        </li>
        <li>
          <a title="Blazium GitHub" href={{template "link-blazium-git" }}><i class="fab fa-github"></i>GitHub</a>
        </li>
      </ul>
    </nav>
    <p>© 2024-present Blazium Engine contributors.</p>
  </footer>
{{end}}